@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Zen+Old+Mincho&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Old Mincho', serif;
}
 
label{
  font-size: 1.5rem;
  padding: 3px; 
  color: lightseagreen;
}

textarea{
  font-size: 1.5rem; 
  padding: 3px;
  resize: none;
}
textarea:focus{
  outline: none;
}

/* buttons */
.question-btn,
.save,
.delete-card{
  display: block;
  width: 1;
  margin: 1rem;
  padding: 5px 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
} 

.question-btn:hover,
.save:hover{
  background-color: lightgreen;
}

.delete-card:hover{
  background-color: lightcoral;
}

/* question feilds */
.question-container,
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 50vh;
}

.question-form{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 247, 255);
  min-width: 400px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.error{
  color: red;
  display: none;
}

/* flash cards */
.flashcards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.flash-card{
  background: rgb(234, 247, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.flash-card h3,
.flash-card a,
.flash-card p,
.flash-card button{
  margin: 1rem;
}

.flash-card a{
  text-decoration: none;
  font-size: 1.3rem;
  color: lightseagreen;
}

.flash-card p{
  font-size: 1.3rem;
}

.answer{
  display: none;
}